{% extends 'store/base.html' %}

{% block content %}

<div class="contact-page">

    <div class="contact-header">
        <h2>📞 Biz bilan bog'laning</h2>
        <p>
            O'zingizga qulay aloqa usulini tanlang
        </p>
    </div>

    <div class="contact-cards">

        <!-- TELEGRAM -->
        <a href="https://t.me/eto_weyx_713"
           target="_blank"
           class="contact-card telegram-card">

            <div class="contact-icon">
                ✈️
            </div>

            <h3>Telegram</h3>
            <p>@ogabek_dev</p>

            <div class="contact-more">
                <p>💬 Bizga Telegram orqali yozing</p>
                <span>Telegramga o'tish →</span>
            </div>

        </a>


        <!-- INSTAGRAM -->
        <a href="https://instagram.com/t.me/weyx__713
        "
           target="_blank"
           class="contact-card instagram-card">

            <div class="contact-icon">
                📸
            </div>

            <h3>Instagram</h3>
            <p>ogabek</p>

            <div class="contact-more">
                <p>📷 Loyihalarimizni ko'ring</p>
                <span>Instagramga o'tish →</span>
            </div>

        </a>


        <!-- WHATSAPP -->
        <a href="https://wa.me/998906746212"
           target="_blank"
           class="contact-card whatsapp-card">

            <div class="contact-icon">
                💬
            </div>

            <h3>WhatsApp</h3>
            <p>+998 90 674 62 12</p>

            <div class="contact-more">
                <p>📱 WhatsApp orqali bog'laning</p>
                <span>WhatsAppga o'tish →</span>
            </div>

        </a>


        <!-- TELEFON -->
        <a href="tel:+998906746212 "
           class="contact-card phone-card">

            <div class="contact-icon">
                📞
            </div>

            <h3>Telefon</h3>
            <p>+998 90 123 45 67</p>

            <div class="contact-more">
                <p>☎️ To'g'ridan-to'g'ri qo'ng'iroq qiling</p>
                <span>Qo'ng'iroq qilish →</span>
            </div>

        </a>

    </div>

</div>

{% endblock %}