{% extends 'store/base.html' %}

{% block content %}

<div class="message-success-page">

    <div class="message-success-card">

        <div class="success-icon">
            ✅
        </div>

        <h2>
            Xabaringiz yuborildi!
        </h2>

        <p>
            Xabaringiz muvaffaqiyatli saqlandi.
            Tez orada siz bilan bog'lanamiz.
        </p>

        <a
            href="/"
            class="back-home-btn"
        >
            🏠 Bosh sahifaga qaytish
        </a>

    </div>

</div>

{% endblock %}